@import url('globalStyles.css'); /*Se importa el estilo principal del sitio web*/

.topHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profilePicture{
  border-radius: 50%;          
  --color-img-border: 3px solid #8F90DE;                               
  border: var(--color-img-border);                            /*Borde característico de la carga de imágenes*/
  object-fit: cover;
  cursor: pointer;
  height: 60px;
  width: 60px;
  box-shadow: 2px 2px 8px 2px rgba(151, 167, 231, 0.35);
}

.searchContainer{
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
}

.btn-primary{
  border-radius: 8px;
  height: 2.7em; 
  width: 13em;
}


.top-bar {
  display: flex;                   /* Usa flexbox para alinear los elementos horizontalmente */
  align-items: center;            /* Centra verticalmente los elementos dentro del contenedor */
  justify-content: space-between;/* Distribuye el espacio entre los elementos para que estén separados */
  flex-wrap: wrap;                /* Permite que los elementos bajen de línea en pantallas pequeñas */
  /* gap: 8em;                       Espacio entre los elementos Este atributo causa problemas*/
  /* margin-bottom: 1.5em;           Margen inferior para separarla del contenido que sigue */
}

.icons {
  display: flex;                  /* Muestra los íconos en línea horizontal */
  align-items: center;
}

.icons img {
  margin-left: 2em; /* Espacio a la izquierda del ícono*/
}

.table-container {
  background-color: white;            /* Fondo blanco para la tabla */
  border-radius: 10px;                  /* Bordes redondeados */
  box-shadow: 0px 0px 10px #dcdcdc;   /* Sombra suave para efecto de tarjeta */
  overflow-x: auto;                     /* Permite desplazamiento horizontal si es necesario */
}

table {
  width: 100%;                /* Ocupa todo el ancho del contenedor */
  border-collapse: collapse;  /* Elimina espacios entre celdas*/
}

thead {
  background-color: #f0f4ff;  /* Color de fondo para encabezado de tabla*/
}

th, td {
  text-align: left;           /* Alineación a la izquierda para celdas*/
  padding: 1em;               /* Espaciado interno uniforme */
}

td:last-child {
  display: flex;              /* Los íconos de acción dentro de esta celda están alineados horizontalmente */
  gap: 1em;                   /* Espacio entre íconos*/
  align-items: center;        /* Centrado vertical*/
}

td img {
  cursor: pointer;            /* Muestra el puntero de clic */
  width: 20px;                /* Tamaño reducido para íconos de acción */
}

tr:hover {
  background-color: #f9f9f9;  /* Cambio de fondo al pasar el ratón por encima */
}

/*Formulario de registro*/
