/*NO TOCAR, si es necesaria una modificación consultar*/

/*
    Para implementar esta clase a sus archivos css ingresar:

    @import url('globalStyles.css');

*/

/*API de fuente de google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-bg-int); /*Aquí me equivoqué, avisar al resto que me confundí de nombre*/
}

/*
    Variables de la hoja de estilos global
    ":root" permite que las variables sean de acceso global, para solo invocarlas.

    Desde root se declaran las variables como (--Nombre: Valor)
*/

:root{
    --color-bg-int: #f2f7ff;                    /*Color del fondo de cada interfaz*/
    --color-txt: #81859E;                       /*Color de texto simple.                Ej. Texto ingresado en formulario*/
    --color-txt-title: #5E6489;                 /*Color de titulos.                     Ej. Títulos de tablas, título de pregunta de formulario, etc.*/
    --color-bg-tb: rgba(254, 254, 255, 0.9);    /*Color del fondo de las tablas.        Ej. Empleados, Mantenimientos, etc.*/
    --color-neutral: #FFFFFF;                   /*Color neutro que implica muchos tipos de elementos, blanco.*/

    --color-btn-primary: linear-gradient(134deg,rgba(120, 132, 237, 1) 0%, rgba(97, 111, 239, 1) 100%); /*Color de la mayoria de botones*/
    --color-breadcrumb: #7884ED;                /*Color del breadcrumb actual y color de los bordes de botones fantasma.      Ej. "Detalles", "Editar", etc.*/
    --color-btn-text: #F2F9FE;                  /*Color del texto de los botones                    Ej. Todos los botones principales*/

    --color-img-border: 3px solid #8F90DE;                /*Color del borde de las imagenes de los empleados. Ej. Registro de empleado, Selección de empleado, etc.*/

    --shadow-pnl: 3px 3px 8px 0px rgba(100, 173, 211, 0.45);
    --shadow-btn-primary: 0px 0px 15px 1px rgba(120, 132, 237, 0.65);   /*Sombra utilizada en los botones principales.      Ej. "Agregar", "Enviar", etc.*/
    --shadow-btn-secondary: 0px 0px 5px 1px rgba(120, 132, 237, 0.45);  /*Sombra utilizada en los botones secundarios.      Ej. "Evidencias", "Buscar", etc.*/
    --shadow-pnl-container: 5px 5px 4px 0px rgba(140, 158, 200, 0.35);  /*Sombra del contenedor que muestra los paneles.    Ej. Capacitaciones, Permisos, Regulaciones, etc.*/
    --shadow-pnl: 2px 2px 4px 0px rgba(133, 155, 208, 0.25);            /*Sombra de los paneles dentro de los contenedores  Ej. Registros médicos, Permisos área de la empresa, etc.*/
    --shadow-search-container: 4px 4px 3px 0px rgba(140, 158, 200, 0.25); /*Sombra de los contenedores de búsqueda          Ej. Regulaciones, Áreas, etc.*/

    --width-container: 90%;
}

/*Botón primario*/
.btn-primary{
  background: var(--color-btn-primary);                       /*Gradiente del fondo del btn*/
  border: 0px;                                                /*Quitamos el borde del botón (El primario no lo necesita)*/
  border-radius: 12px;                                        /*Redondeo de esquinas de 12px*/
  box-shadow: var(--shadow-btn-primary);                      /*Sombra del btn reutilizada con las var globales*/
  color: var(--color-btn-text);                               /*Color del texto del btn*/
  font-weight: 500;                                           /*Peso de la letra*/
  font-size: 1.1em;                                           /*Tamaño de la letra*/
  cursor: pointer;                                            /*El cursor cambiará al estar en el btn*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover{
  --color-btn-primary: #6876f2;
  background: var(--color-btn-primary); 
  transform: translateY(-3px);          
  box-shadow: var(--shadow-btn-primary);
}

#btnFilter:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

/*Sidebar*/
html,
.contenedor-sidebar{
  height: 100%;
}

.contenedor-sidebar{
  display: flex;
  width: 20%;
  min-height: 0vh;
}

.contenedor-seccion{
  display: flex;
}

.contenedor-cuerpo{
  width: 100%;
  padding: 1rem 0rem 0 1em; 
}

/*
    Variables agregadas:
        --color-btn-text: #F2F9FE;
        --shadow-pnl: 2px 2px 4px 0px rgba(133, 155, 208, 0.25);
        --color-img-border 3px solid #8F90DE;
*/  

/*
    Clases necesarias aplicar a globales:
        -Titulo de apartado.
        -Contentedor de paneles.
        -Paneles básicos como Permisos, Incapacidad, etc.
        -Tablas commo Empleado, CSSO, etc.
        -Apartado de busqueda
*/
