@import url('globalStyles.css');  

/*Contenedor padre del btn primario*/
.containerBtnPrimary{             
    display: flex;                                               
    justify-content: flex-end;                                  /*Enviar el btn al final*/
    padding-right: 5em;                                         /*Este atributo y el siguiente son para distanciar el botón del contenedor y del borde*/
    margin-bottom: 3em;
}

/*Clase para eliminar la decoración del enlace*/
.recordEmployee{
    text-decoration: none;
    color: var(--color-txt);                                    
}

.info{
    display: flex;                                              
    flex-direction: column;                                     /*Coloca la info debajo del título, sin eso iría a la derecha*/
    padding: 0.8em;                                             /*Espacio para que respire el contenido*/
}

.dataEmployee{
    display: flex;                                              
    font-weight: 400;                                           /*Peso de los títulos de información, NO las variables*/
}

.dataEmployee p{
    margin: 0.6em;                                              /*Distancia de arriba y abajo de la info con el titulo*/
    margin-left: 0.4em;                                         /*Distacia a la derecha para alinearlo con el titulo*/
    margin-right: 0.8em;                                        /*Distancia de cada dato entre sí*/
}

.pictureEmployee{
    border-radius: 50%;                                         
    border: var(--color-img-border);                            /*Borde característico de la carga de imágenes*/
    height: 70px;                                               /*Alto img*/
    width: 70px;                                                /*Ancho img*/
    object-fit: cover;                                          /*Evitar distorsión en la img*/
    margin-left: 0.5em;                                         
}

.arrow{
    margin-left: auto;                                          /*Lo envia a la derecha*/
    margin-right: 0.5em;                                        /*Distancia un poco el borde derecho*/
}