@import url('globalStyles.css');  

/*Contenedor padre del btn primario*/
.containerBtnPrimary{             
    display: flex;                                               
    justify-content: flex-end;                                  /*Enviar el btn al final*/
    padding-right: 5em;                                         /*Este atributo y el siguiente son para distanciar el botón del contenedor y del borde*/
    margin-bottom: 3em;
}

/*Asignar el btn crear y searchBar
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
    

.headerContent{
    width: var(--width-container);
    display: flex;
    flex-direction: column;
}

.breadcrumb{
    padding: 1rem 0;                                            
    font-size: 2.2em;                                           
    font-weight: 600;                                           
}

.breadcrumb a{
    text-decoration: none;                                      
    color: var(--color-breadcrumb);                             
}
    

.headerContentButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 1rem 0;
}

.searchContainer{
    display: flex;
    align-items: stretch;
    gap: 10px;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-containers);
    border-radius: 12px;
    box-shadow: var(--shadow-search-container);
}
    */


#txtSearch{
    background-image: url('../media/globalMedia/searchbar-icon.svg');
    background-position: 12px 12px; 
    background-repeat: no-repeat;
    padding: 12px;
    border-radius: 5px;
    border: solid 1px #7B96C7;
    flex: 5;
    padding-left: 45px;
    font-size: 1em;
    color: var(--color-txt);
}

#txtSearch:focus {
  border: 1px solid #343968;
  font-size: 1em;
  color: var(--color-txt);
  outline: none;
  border: 1px solid var(--color-txt);
}

/*Contenedor de contenido por debajo del botón
.cardContainer{
    display: flex;                                              
    align-items: center;                                        /*Centrar el div
    flex-direction: column;                                     /*Evito que se hagan a los lados por cada registro y se vean como columna
    width: var(--width-container);                              /*El contenedor de paneles usará el 85% del espacio que se le asigne
}

/*Contenedor de paneles
.pnlContainer{
    width: 100%;
    border-radius: 12px;                                        
    padding: 20px;
    --color-bg-tb: rgba(254, 254, 255, 0.35);                 /*Se modifica la variable global solamente cambiando la transparencia
    background-color: var(--color-bg-tb);                       /*Color del contenedor (Neutro y semi-transparente)
    box-shadow: var(--shadow-pnl-container);                    
    height: 60vh;                                               /*Altura del contenedor
    overflow: auto;                                             /*Crear scroll dentro de panel
    scrollbar-width: none;                                      /*Ocultar scrollbar interna del contenedor: Firefox 
    -ms-overflow-style: none;                                   /*Ocultar scrollbar interna del contenedor: Explorer 
}

.pnlContainer::-webkit-scrollbar {
    display: none;                                              /*Ocultar scrollbar interna del contenedor:  Chrome, Safari y Edge 
}
*/

/*Clase para eliminar la decoración del enlace*/
.recordEmployee{
    text-decoration: none;
    color: var(--color-txt);                                    
}

.info{
    display: flex;                                              
    flex-direction: column;                                     /*Coloca la info debajo del título, sin eso iría a la derecha*/
    padding: 0.8em;                                             /*Espacio para que respire el contenido*/
}

.dataEmployee{
    display: flex;                                              
    font-weight: 400;                                           /*Peso de los títulos de información, NO las variables*/
}

.dataEmployee p{
    margin: 0.6em;                                              /*Distancia de arriba y abajo de la info con el titulo*/
    margin-left: 0.4em;                                         /*Distacia a la derecha para alinearlo con el titulo*/
    margin-right: 0.8em;                                        /*Distancia de cada dato entre sí*/
}

.pictureEmployee{
    border-radius: 50%;                                         
    border: var(--color-img-border);                            /*Borde característico de la carga de imágenes*/
    height: 70px;                                               /*Alto img*/
    width: 70px;                                                /*Ancho img*/
    object-fit: cover;                                          /*Evitar distorsión en la img*/
    margin-left: 0.5em;                                         
}

.arrow{
    margin-left: auto;                                          /*Lo envia a la derecha*/
    margin-right: 0.5em;                                        /*Distancia un poco el borde derecho*/
}